body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}
.header{
    background-color: #E5547310;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    justify-content: space-between;
    padding: 20px;
}
.header-button{
    background-color: #E55473;
    color: #FFFFFF;
    padding: 20px 43px;
    border: none;
    border-radius: 5px;
    margin: 5px;
}
.header-description{
    color: #27272760;
    margin: 25px 0px;
    width: 100px 00px;
}
.header-title{
    color: #272727;
    margin: 5px;
    font-weight: 1300;
    font-size: 300%;
}
.header-elements{
    padding: 80px 0px 80px 80px;
}
.header-image{
    padding-right: 50px;
    width: 300px;
    margin-right: 150px;
}
.featured-flower{
    margin: 180px 0px;
}
.featured-flower-text-header{
    color: #272727;
    text-align: center;
    font-weight: 800;
    font-size: 200%;
}
.featured-flower-text-description{
    color: #27272760;
    text-align: center;
    margin-left: 430px;
    max-width: 500px;
}
.flower-main{
    display: flex;
    justify-content: space-between;
    margin-left:115px ;
    margin-right:115px ;
    margin-top: 80px;
    padding: 10px;
}
.flower-main-1{
    background-color: #A7216215;
}
.flower-main-2{
    background-color: #0597A015;
}
.flower-main-3{
    background-color: #477D1115;
}

/* .fig-caption{ 
    display: flex;
    justify-content: space-between;
    margin-left:115px ;
}*/

.hot-deal-title{
    color: #272727;
    margin: 5px;
    font-weight: 800;
    font-size: 200%;
}
.hot-deal-description{
    margin-top: 100px;
    color: #27272760;
    margin: 25px 0px;
    max-width: 600px;
    text-align: center;
}
.hot-deal{
    background-color: #E5547310;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    justify-content: space-between;
    text-align: center;
}
.hot-deal-elements{
    padding: 200px 0px 150px 150px;
}
.hot-deal-button{
    background-color: #E55473;
    color: #FFFFFF;
    padding: 20px 43px;
    border: none;
    border-radius: 5px;
    margin: 5px;
}
span{
    color: #E55473;
}
.hot-deal-image{
    padding: 100px 250px 100px 0px;
    width: 300px;
}
.insta-flower-title{
    color: #272727;
    margin: 5px;
    font-weight: 800;
    font-size: 200%;
    text-align: center;
}
.insta-flower-description{
    color: #27272760;
    text-align: center;
    margin-left: 350px;
    max-width: 500px;
}
.insta-flower-elements{
    margin: 50px 50px;
}

.flower{
    display: flex;
    justify-content: space-between;
    margin:50px 0px 100px 0px;
}
.flower-1{
    margin-left:115px ;
    margin-right: 20px;
    width: 250px;
}
.flower-2{
    margin-right: 20px;
    width: 250px;
}
.flower-3{
    margin-right: 20px;
    width: 250px;
}
.flower-4{
    margin-right:115px ;
    width: 250px;
}
.bg-flower-header{
    text-align: center;
    color: #272727;
    padding-top: 100px;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 0px;

}
.bg-flower-description{
    text-align: center;
    color: #27272760;
    padding-bottom: 10px;
    margin: 25px;
}
.bg-flower{
    background-image: url(../images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    margin-left:115px ;
    margin-right:115px ;
    background-size: contain;
    margin-bottom: 115px;
}
.bg-button-button{
    background-color: #E55473;
    color: #FFFFFF;
    padding: 15px 43px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
}
.bg-button-email{
    border-radius: 5px;
    color: #FFFFFF;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 200px;
    width: 500px;
    text-align: left;
    margin-bottom: 100px;
}
.footer{
    text-align: center;
    color: #FFFFFF;
    background-color: #111010;;
    margin-bottom: 0px;
}
.footer-header{
    padding-top: 100px;
    font-weight: 800; 
}
.footer-description{
    color: #FFFFFF90;
    padding-left: 380px;
    width: 600px;
}
.footer-copyright{
    color: #FFFFFF40;
    padding-bottom: 100px;
}